

@media only screen and (min-width:992px) and (max-width:1200px) {
    .main {
        width: 970px;
    }
}



@media only screen and (min-width:768px) and (max-width:991px) {
    .main {
        width: 750px;
    }

    .single-menu {
        flex-direction: column;
    }

    .single-menu img {
        margin-bottom: 25px;
    }
}


@media only screen and  (max-width:767px) {
    .main {
        width: 320px;
    }
    .menu-column {
        width: 100%;
        margin-bottom: 60px;
    }

    .single-menu {
     
        flex-direction: column;
    
    }

    .single-menu .menu-content p {
        padding-bottom: 5px;
        margin-bottom: 10px;
        border-bottom: 1px dashed #222;
       
    }
    
    .single-menu img {
        margin-bottom: 25px;
        border-radius: 1%;
        max-width: 338px;
    }
}
